html{
    background-color: antiquewhite;
}

body>header{
    color: black;
    font-size: 3rem;
    text-align: center;
}

body>header>h1>img{
    width: 50px;
    height: 50px;
}

nav ul{
    list-style-type:none;
  }

nav a{
    text-decoration:none;
    color:black;
    font-size:1rem;
}

nav ul, nav li{
    margin:0;
    padding:0;
  }

nav>ul.meniu>li>ul.submeniu{
    visibility:hidden;
   }

nav>ul.meniu>li:hover>ul.submeniu{
    visibility:visible;
}

nav>ul.meniu{
     display:flex;
     flex-direction:column;
     flex-wrap:nowrap;
     justify-content: space-around;}

ul.meniu>li{
        border:2px solid black;
        flex-basis:10%;
        text-align:center;
        width: 20%;
    }

ul.meniu>li>ul.submeniu>li{
            width: 100%;
            text-align:center;
            background-color:blue;
            border:2px solid black;
        }

nav{
top:0;
position:sticky;} 

nav li{
    transition: background-color 2s, color 2s;
  }

nav li:hover{
    background-color: red;
}

nav>ul.meniu>li>ul.submeniu>li{
  transition: background-color 2s;
}

nav>ul.meniu>li>ul.submeniu>li:hover{
    background-color: red;
}

#acasa{
    background-image: url("Resurse/20.png");
    padding-top:250px;
    padding-bottom: 250px;
    font-size:3rem;
}

#acasa>p{
    font-size: 1rem;
    color:red;
}

#acasa>a{
    font-size:1.5rem;
}

#despre{
    background-color: white;
    font-size: 3.5rem;
    position: relative;
}

#minge{ width:50px; height:50px;
    }

#poza1{
    float:right;
    width:100px;
    height:100px;
}

#istorie>p{
    font-size: 1rem;
}

.grid1-container {
    display: grid;
    grid-template-columns: 300px 100px;
    grid-template-rows: 100px 250px 250px;
    background-color: yellow;
    padding: 10px;
    margin: 10px;
    height:600px;
    width: 410px;
    grid-column-gap: 10px;
}

.grid1-item1{
    background-color: #6E0B14;
    grid-column: 1 / 2; 
    grid-row: 1 / 2;
    font-size: 1rem;
    text-align: center;
}

.grid1-item2{
    background-color: #6E0B14;
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    font-size: 1rem;
    text-align: center;
}

.grid1-item3{
    background-color: blue;
    grid-column: 1 / 2;
    grid-row: 2 / 4;
    font-size: 0.8rem;
    text-align: center;
}

.grid1-item4{
    background-color: blue;
    grid-column: 2 / 3;
    grid-row: 2 / 4;
    font-size: 0.8rem;
    text-align: center;
} 

#poza2{
    float: left;
    width: 300px;
    height: 300px;
}

#echipament>p{
    font-size: 1rem;
}

#echipament>p:nth-child(4){
    font-size: 2rem;
    color:#6E0B14;
    text-align: left;
    font-family:cursive;
}

#echipament>p:nth-child(5){
    text-align: center;
}

#poza3{
height: 190px;
width: 190px;
border: 3px solid black;
z-index: 1;
left:200px;
top:1840px;
}

#poza4{
    height: 190px;
    width: 190px;
    border: 3px solid black;
    z-index: 2;
    left:350px;
    top:1845px;
}

#poza5{
    height: 190px;
    width: 190px;
    border: 3px solid black;
    z-index: 3;
    left:500px;
    top:1850px;
}

#poza6{
    height: 190px;
    width: 190px;
    border: 3px solid black;
    z-index: 3;
    left:650px;
    top:1855px;  
}

#versuri_imn{
    font-size: 1rem;
    column-count:2;
    column-gap:10px;
    column-rule: 4px dotted black;
}

#despre>article>h4{
    font-size: 1.5rem;
    color: rgba(0, 0, 255, 0.584);
}

#despre>article>h4>span{
    font-size: 2rem;
    color: #6E0B14;
}

#despre>article>p:last-child{
    font-size: 1rem;
}

#lot>h2{
    font-size:3rem; 
}

 
.grid2-container img{
   width: 60px;
   height: 60px;
   border: 3px solid rgba(0, 0, 255, 0.614);
}

.grid2-container figure{
    color:aliceblue;
    text-align: right;
}

.grid2-container{
    display: grid;
    height: 1400px;
    width: 400px;
    background-color: #6E0B14;
    grid-template-columns: 72px 72px 72px 72px;
    grid-template-rows: 150px 150px 150px 150px 150px 150px 150px 150px;
}

.grid2-container>.grid2-itemM{
    font-size: 2rem;
    grid-column: 1 / 6;
    text-align: center;
    margin-top: 50px;
}

.grid2-itemf{
    opacity: 0;
    animation-name: aparitie;
    animation-delay:2s;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid2-itemm{
    opacity: 0;
    animation-name: aparitie;
    animation-delay:2s;
    animation-duration: 6s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid2-itema{
    opacity: 0;
    animation-name: aparitie;
    animation-delay:2s;
    animation-duration: 11s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

.grid2-itemp{
    opacity: 0;
    animation-name: aparitie;
    animation-delay:2s;
    animation-duration: 16s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

@keyframes aparitie{
    0%{opacity: 0;}
    25%{opacity: 0.25;}
    50%{opacity: 0.5;}
    75%{opacity: 0.75;}
    100%{opacity:1;}
}


.grid2-itemp img{
    transition: width 2s, height 2s;
}

.grid2-itemp img:hover{
    width: 70px;
    height: 70px;
} 

.grid2-itemf img{
    transition: width 2s, height 2s;
}

.grid2-itemf img:hover{
    width: 70px;
    height: 70px;
} 

.grid2-itemm img{
    transition: width 2s, height 2s;
}

.grid2-itemm img:hover{
    width: 70px;
    height: 70px;
} 

.grid2-itema img{
    transition: width 2s, height 2s;
}

.grid2-itema img:hover{
    width: 70px;
    height: 70px;
} 

#personalitati>h2{
    font-size: 3rem;
}

.grid3-item figure>img{
    width: 150px;
    height: 150px;
    margin-left: 100px;
}

.grid3-item figure>p{
    text-align: center;
    font-size: 1.5rem;
    color: #6E0B14;
}

.grid3-item a{
    display:inline-block;
    color:yellow;
    background-color:black;
    padding:10px;
    border:1px solid red;
    border-radius:30px;

}
.grid3-item a:hover{
background-color:blue;
}

#administratie>h2{
    font-size: 3rem;
}

#administratie>p{
    font-size: 1rem;
}

#administratie>a{
    display:inline-block;
    color:yellow;
    background-color:black;
    padding:10px;
    border:1px solid red;
    border-radius:30px;
}
#administratie>a:hover{
    background-color:blue;
}

#contact>h2{
    font-size: 3rem;
}

footer>p:first-child::after{
    content: '⚽';
}

footer>p:first-child::before{
    content: '⚽';
}